.light-medium-contrast {
  --md-sys-color-primary: rgb(0 53 111);
  --md-sys-color-surface-tint: rgb(0 92 185);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(0 107 212);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(74 50 0);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(139 103 35);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(92 0 124);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(158 68 193);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(249 249 255);
  --md-sys-color-on-background: rgb(24 28 35);
  --md-sys-color-surface: rgb(249 249 255);
  --md-sys-color-on-surface: rgb(14 17 24);
  --md-sys-color-surface-variant: rgb(223 227 225);
  --md-sys-color-on-surface-variant: rgb(50 55 54);
  --md-sys-color-outline: rgb(78 84 82);
  --md-sys-color-outline-variant: rgb(105 110 108);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(45 48 56);
  --md-sys-color-inverse-on-surface: rgb(238 240 251);
  --md-sys-color-inverse-primary: rgb(170 199 255);
  --md-sys-color-primary-fixed: rgb(0 107 212);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(0 83 168);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(139 103 35);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(112 79 10);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(158 68 193);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(131 39 166);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(196 198 208);
  --md-sys-color-surface-bright: rgb(249 249 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(241 243 254);
  --md-sys-color-surface-container: rgb(230 232 242);
  --md-sys-color-surface-container-high: rgb(218 220 231);
  --md-sys-color-surface-container-highest: rgb(207 209 219);
}
